* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    background-color: hsl(30, 38%, 92%);
}
.card {
    background-color: hsl(0, 0%, 100%);
    width: 40%;
    position: relative;
    top: 100px;
    left: 310px;
    border-radius: 10px;
    display: flex;
}

img {
    border-radius: 10px 0 0 10px;
    width: 50%;
}

.style-font {
    font-family: 'Montserrat',sans-serif;
    margin: 10px;
}

section {
    margin: 0 10px;
}

h1 {
    margin-left: 10px;
    font-size: 25px;
    color: hsl(212, 21%, 14%);
}

.spific-text {
    color: hsl(228, 12%, 48%);
}

.p1 {
    letter-spacing: 5px;
}

ins {
    color: hsl(158, 36%, 37%);
    font-size: 20px;
    text-decoration: none;
}

button {
    background-color: hsl(158, 42%, 18%);
    border-radius: 5px;
    color: white;
    width: 80%;
    padding: 5px;
    position: relative;
    left: 10px;
}